.listCcontainer{
   background-color: #1e2532;
    border: solid black;
    width: 95vw;
    max-width: 1200px;
    margin: 20px auto; 
    padding: 20px;
    box-sizing: border-box;
}
.MyEditBtn{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 50px;
 border: solid black;
 width:120px;
}
.MyEditBtn:hover{
  background-color: palevioletred;
}
.MySaveBtn{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 40px;
 width: 100px;
 border: solid black;
}
.MySaveBtn:hover{
  background-color: palevioletred;
}
.MyBackBtnn{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 40px;
 width: 100px;
 border: solid black;
}
.MyBackBtnn:hover{
  background-color: palevioletred;
}
.MyCancelBtn{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 40px;
 width: 100px;
 border: solid black;
}
.MyCancelBtn:hover{
  background-color: palevioletred;
}
.MyDeleteBtn{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 50px;
 border: solid black;
 width:120px;
}
.MyDeleteBtn:hover{
  background-color: palevioletred;
}
.MyBackBtn{
  color: black;
 background-color: rgb(32, 183, 193);
 height: 50px;
 border: solid black;
 width:120px;
}
.MyBackBtn:hover{
  background-color: palevioletred;
}

.linkbox{
    display:flex;
    gap:120px;
    padding: 20px;
}
.savedL{
  text-align: center;

}
.box{
    display:flex;
    gap:90px;
    padding: 20px;
}