.listCcontainer{
  background-color: rgb(30, 85, 59);
    border: solid black;
    height: 330px;
    width: 800px;
    border-radius: 24px;
    margin-top: 80px;
}
.MyEditBtn{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 50px;
 border: solid black;
 width:120px;
}
.MyEditBtn:hover{
  background-color: palevioletred;
}
.MySaveBtn{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 40px;
 width: 100px;
 border: solid black;
}
.MySaveBtn:hover{
  background-color: palevioletred;
}
.MyCancelBtn{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 40px;
 width: 100px;
 border: solid black;
}
.MyCancelBtn:hover{
  background-color: palevioletred;
}
.MyDeleteBtn{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 50px;
 border: solid black;
 width:120px;
}
.MyDeleteBtn:hover{
  background-color: palevioletred;
}
.linkbox{
    display:flex;
    gap:120px;
    padding: 20px;
}
.savedL{
  text-align: center;

}
.box{
    display:flex;
    gap:90px;
    padding: 20px;
}