.linkContainer{
    background-color: #1e2532;
    border: solid black;
    width: 95vw;
    max-width: 100%;
    margin: 20px auto; 
    padding: 20px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
.Topic{
  background:linear-gradient(white, lightblue, lightseagreen, rgb(32, 183, 193)); 
}
.Mytitle{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  color: #111620;
  text-align: center;
  font-style:italic;
  font-size: 30px;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 40px;
 
 
}

label{
    display: block;
    color:#94a3b8;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.MyButton{
  margin-top: 30px;
 color: black;
 background-color: rgb(32, 183, 193);
 height: 30px;
 width: 120px;
 border: solid black;

}
.MyButton:hover{
  background-color: rgb(65, 242, 255);
}
.insideContainer{
  display: flex;
  flex-direction: column; 
  width: 100%;
  box-sizing: border-box;
}
.inputtitle{
  color: #ffffff;
  background-color: #111620;
  box-sizing: border-box;
  width: 100% ;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.inputtitle:hover{
  background-color: rgb(65, 242, 255);
  color: black;
  
}
.inputdesc{
  color: #ffffff;
  background-color: #111620;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.inputdesc:hover{
  background-color: rgb(65, 242, 255);
  color: black;
}
.inputurl{
  color: #ffffff;
  background-color: #111620;
 width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.inputurl:hover{
  background-color: rgb(65, 242, 255);
  color: black;
}
.inputtags{
  color: #ffffff;
  background-color: #111620;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.inputtags:hover{
  background-color: rgb(65, 242, 255);
  color: black;
}
