.linkContainer{
    background-color: rgb(227, 63, 91);
    border: solid black;
    height: 150px;
    width: 600px;
    
}
.Topic{
  text-align: center;

}
.linkss{
  gap: 200px;
}
.MyButton{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 60px;
 border: solid black;
}
.MyButton:hover{
  background-color: palevioletred;
}
.MyEditBtn{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 60px;
 border: solid black;
}
.MyEditBtn:hover{
  background-color: palevioletred;
}
.MySaveBtn{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 60px;
 border: solid black;
}
.MySaveBtn:hover{
  background-color: palevioletred;
}
.MyCancelBtn{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 60px;
 border: solid black;
}
.MyCancelBtn:hover{
  background-color: palevioletred;
}
.MyDeleteBtn{
 color: black;
 background-color: rgb(32, 183, 193);
 height: 60px;
 border: solid black;
}
.MyDeleteBtn:hover{
  background-color: palevioletred;
}
.divv{
    display:flex;
    gap:100px;
    justify-content: space-between;
}

.listCcontainer{
  background-color: rgb(219, 5, 5);
    border: solid black;
    height: 300px;
    width: 500px;
}


